* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
    background-image: url(/img/starrynight.jpg);
    color: white;
}

#ali {
    text-align: right;
    margin-right: 30px;
}

#wrap {
    width: 800px;
    background-color: #0f6b34;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
}

#content {
    width: 800px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    background-color: #336666;
}
#header {
    width: 800px;
    height: 400px;
    background-image: url(/img/temple-neptune2.jpg)
}
//*#sidebar {
    width: 300px;
    float: right;
    background-color: #6699cc;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0
}
*//


#coty {
    width: 800px;
    height: 100%;
    background-color: darkcyan;
    padding-bottom: 10px;
}

#doge {
    width: 780px;
    margin: 10px;
    padding-bottom: 10px;
    background-color: cadetblue;
    border-radius: 15px
}

#birdy {
    width: 780px;
    margin: 10px;
    padding-bottom: 10px;
    background-color: #cccccc;
    border-radius: 15px
}

#bugy {
    width: 780px;
    margin: 10px;
    padding-bottom: 10px;
    background-color: darkgray;
    border-radius: 15px
}

.spidy {
    height: 50px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dainiukas {
    width: 760px;
    margin: 10px;
    background-color: #3399ff;
    border-radius: 15px;
}

.postheader {
    width: 740px;
    margin: 10px;
    display: block;
    vertical-align: middle;
    text-align: center
}

.postimg {
    width: 200px;
    height: 200px;
    margin: 10px 20px 20px 10px;
    border-radius: 15px
}

.postcontent {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-bottom: 10px
}

.postwrap {
    clear: both;
    width: 740px;
    margin: 10px;
}

.postwrap img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.shakaron {
    font-family: 'Skranji', cursive;
}

.disc {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 10px
}

#navavbar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color:#3399ff;
    z-index: 1;
    border-bottom: solid black;

}
//* Dropdown *//
#metropolis {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

# metropolis li {
    float: left;
}

#metropolis li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#metropolis li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

#metropolis li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
//* Dropdown end *//

